# Ignore Node.js modules
/backend/node_modules/
node_modules/
backend/node_modules/
/backend/config/config.env/
config/config.env/
backend/config/config.env/
# Ignore Git files and folders in the frontend directory
frontend/.git
frontend/.gitignore
frontend/.gitattributes
**/node_modules/
